<a href="https://colab.research.google.com/github/chiragvijay13/magma/blob/master/day6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('indian_food.csv')
df.head()

In [4]:
df.head()

             name  ... region
0      Balu shahi  ...   East
1          Boondi  ...   West
2  Gajar ka halwa  ...  North
3          Ghevar  ...   West
4     Gulab jamun  ...   East

[5 rows x 9 columns]

In [40]:
df[(df.state=='Madhya Pradesh')]

          name  ...   region
194     Laapsi  ...  Central
253  Mawa Bati  ...  Central

[2 rows x 9 columns]

# **Types of flavor**

In [35]:
df['flavor_profile'].unique()

array(['sweet', 'spicy', 'bitter', '-1', 'sour'], dtype=object)

## **Types of course**

In [36]:
df['course'].unique()

array(['dessert', 'main course', 'starter', 'snack'], dtype=object)

# **Spicy maincourse in madhyapradesh**

In [41]:
df[(df.flavor_profile=='spicy') & (df.course=='main course') & (df.state=='Madhya Pradesh')]

       name  ...   region
194  Laapsi  ...  Central

[1 rows x 9 columns]

# food which took longest prep_time

In [6]:
max(df.prep_time)

500

In [24]:
df[df.prep_time==max(df.prep_time)]

            name  ... region
114  Pindi chana  ...  North

[1 rows x 9 columns]

# sweets found in jaipur

In [34]:
df[(df.flavor_profile=='sweet') & (df.state=='Rajasthan')]

             name  ... region
1          Boondi  ...   West
3          Ghevar  ...   West
219  Churma Ladoo  ...   West

[3 rows x 9 columns]